<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<h1>Info</h1>
<p> This is simple password generator with main functions:
	<ul>
		<li>select password length from 6 to 9 characters</li>
		<li>select uppercase letters</li>
		<li>select numbers</li>
		<li>select special characters</li>

	</ul>
</p>
<p><a href="{% url 'home' %}">Back</a></p> 